{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block page_title %} Password reset form {% endblock %}
{% block content %}
    <section class="module">
        <div class="container" dir="rtl">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 mb-sm-40"
                     style="margin-left: 25%;box-shadow: 0px 11px 20px 3px #8ea99554;border-radius: 5px;">
                    <h4 class="font-alt">باز نشانی رمز عبور</h4>
                    <hr class="divider-w mb-10">
                    <form class="form" action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-round btn-b" type="submit">ارسال</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}