{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block page_title %} Successful ! {% endblock %}
{% block content %}
    <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 " dir="rtl">
                <h4 class="font-alt mb-0">ایمیل خود را چک کنید !</h4>
                <div class="alert alert-success"> یک ایمیل حاوی لینک مورد نطر جهت بازیابی رمز عبور برای شما ارسال شد  </div>
              </div>
            </div>
          </div>
        </section>


{% endblock %}