{% extends '_base.html' %}
{% load flower_tags %}
{% block page_title %}لیست گلها{% endblock %}
{% block content %}
    {% for flower in flowers %}
       <a href="{{ flower.get_absolute_url }}"><h1>{{ flower.title|is_english }}</h1></a>
        <p>{{ flower.description }}</p>
        <a href="{% url 'flower_update' flower.id %}">ویرایش گل </a>
        <a href="{% url 'flower_delete' flower.id %}">حذف گل </a>


    {% endfor %}
    <a href="{% url 'flower_create' %}">افزودن گل جدید</a>
{% endblock %}